[paths]
source =
   src

[run]
branch = true
source =
    dokusan
    tests
parallel = true

[report]
precision = 2
fail_under = 100
show_missing = true
exclude_lines =
    # pragma: no cover
    Protocol
    NotImplementedError
